@font-face {
    font-family: 'Avenir';
    src: url("/fonts/AvenirLTStd-Light.otf");
}

*{

    font-family: Avenir;

}

.list-unstyled .dropdown-toggler:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.list-unstyled .dropdown-toggler.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.same-ligne{
    display:inline-block;
    font-size: 15px;
}

.percent-20{

    width: 20%;

}

.percent-10{

    width: 20%;

}

.percent-30{

    width: 30%;

}

.percent-40{

    width: 40%;

}

.percent-50{

    width: 50%;

}

.percent-60{

    width: 60%;

}

.percent-70{

    width: 70%;

}

.percent-80{

    width: 80%;

}

.percent-90{

    width: 90%;

}

.percent-100{

    width: 100%;

}

.admin-left-menu{

    width:16.6666%;

}

.admin-right-content{
    width:83.3333334%;
}

.cool-linear-gradient{
    background: linear-gradient(120deg, #ff0000, #e200ff);
}

.content{
    padding: 7px;
}

.same-line-parent{
    font-size: 0px;
}

.red-bar-separator{
    height: 1px;
    background: #ee3033;
    margin: 25px 15px;
}

.menu{

    background: #250f15;
    color: #fff;
    padding: 19px;
    font-size: 15px;
    height: 100%;

}

.left-box-shadow{

    -webkit-box-shadow: 10px 2px 7px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 2px 7px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 2px 7px -10px rgba(0,0,0,0.75);

}