@media (min-width:320px){


  header{

    .logo{
      width: 50px;
    }

    .logo-description {
      font-family: "Avenir";
      font-weight: bold;
      color: #ed292c;
      letter-spacing: 7px;
      margin-left: 15px;
    }

  }

}