@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");



@font-face {

  font-family: "Avenir";
  src: url("/fonts/AvenirLTStd-Book.otf");

}

@font-face {

  font-family: "Century Gothic";
  src: url("/fonts/Century Gothic.ttf");

}


@font-face {

  font-family: "AvenirLight";
  src: url("/fonts/AvenirLTStd-Light.otf");

}