
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$avenir-font: "Avenir";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #ed292c;
$primary-color-light: #ff7e80;
